USE [FitMaxKey]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[Lastname] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[Height] [nvarchar](max) NULL,
	[ImgUrl] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[Youtube] [nvarchar](max) NULL,
	[Weight] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Package] [nvarchar](max) NULL,
	[UserType] [nvarchar](max) NOT NULL,
	[TrainerPrice] [money] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DataConfirm] [bit] NOT NULL,
	[PackageStartDate] [datetime2](7) NULL,
	[PackageEndDate] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartLines]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[DeliveryDate] [datetime2](7) NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[TotalPrice] [money] NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_CartLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[DeliveryDate] [datetime2](7) NULL,
	[TotalPrice] [money] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[IsReaded] [bit] NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Description2] [nvarchar](max) NOT NULL,
	[Description3] [nvarchar](max) NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivateLessons]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivateLessons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainerPrice] [money] NOT NULL,
	[TrainerId] [int] NOT NULL,
	[TrainerName] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[Lesson] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_PrivateLessons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ProductType] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Purchaseprice] [money] NOT NULL,
	[Price] [money] NOT NULL,
	[Status] [bit] NOT NULL,
	[Stock] [int] NOT NULL,
	[ImgUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[Balance] [money] NOT NULL,
 CONSTRAINT [PK_Wallet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WalletDetails]    Script Date: 11.10.2023 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WalletDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActivityDate] [datetime2](7) NOT NULL,
	[ActivityType] [nvarchar](max) NOT NULL,
	[Amount] [money] NOT NULL,
	[WalletId] [int] NOT NULL,
 CONSTRAINT [PK_WalletDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'Personel', N'PERSONEL', NULL)
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (7, 2)
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[CartLines] ON 

INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (1, 1, 95.0000, NULL, CAST(N'2023-10-11T18:44:27.7669590' AS DateTime2), 0, 95.0000, 1, 1)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (2, 1, 150.0000, NULL, CAST(N'2023-10-11T18:44:27.7669629' AS DateTime2), 0, 150.0000, 1, 2)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (3, 1, 67.0000, NULL, CAST(N'2023-10-11T18:44:27.7669630' AS DateTime2), 0, 67.0000, 1, 3)
SET IDENTITY_INSERT [dbo].[CartLines] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId], [OrderDate], [DeliveryDate], [TotalPrice], [Status]) VALUES (1, 8, CAST(N'2023-10-11T18:44:27.6676974' AS DateTime2), NULL, 312.0000, 0)
INSERT [dbo].[Carts] ([Id], [UserId], [OrderDate], [DeliveryDate], [TotalPrice], [Status]) VALUES (2, 8, CAST(N'2023-10-11T18:44:53.1146732' AS DateTime2), NULL, 2416.0000, 0)
INSERT [dbo].[Carts] ([Id], [UserId], [OrderDate], [DeliveryDate], [TotalPrice], [Status]) VALUES (3, 8, CAST(N'2023-10-11T18:45:06.0685295' AS DateTime2), CAST(N'2023-10-11T18:46:21.6074661' AS DateTime2), 1476.0000, 1)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Content], [Date], [IsReaded]) VALUES (1, N'Erkan Hoyman', N'erkanhoyman@gmail.com', N'Çok güzel proje tebrik ederim.', CAST(N'2023-10-11T18:48:39.9384261' AS DateTime2), 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Content], [Date], [IsReaded]) VALUES (2, N'Ali', N'ali@gmail.com', N'Çok güzel hizmet, teşkkürler.', CAST(N'2023-10-11T18:49:11.7665675' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Packages] ON 

INSERT [dbo].[Packages] ([Id], [Name], [Description], [Description2], [Description3], [Price]) VALUES (1, N'3 Ay', N'3 Aylık Salon Üyeliği', N'Standart Program Desteği', N'Grup Derslerine Katılma Hakkı', 3050.0000)
INSERT [dbo].[Packages] ([Id], [Name], [Description], [Description2], [Description3], [Price]) VALUES (2, N'6 Ay', N'6 Aylık Salon Üyeliği', N'Aktif Program Desteği', N'Grup Derslerine Katılma Hakkı', 6200.0000)
INSERT [dbo].[Packages] ([Id], [Name], [Description], [Description2], [Description3], [Price]) VALUES (3, N'12 Ay', N'12 Aylık Salon Üyeliği', N'Tam Program Desteği', N'Grup Derslerine Katılma Hakkı', 10100.0000)
SET IDENTITY_INSERT [dbo].[Packages] OFF
GO
SET IDENTITY_INSERT [dbo].[PrivateLessons] ON 

INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (1, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-11T21:56:08.7719513' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (2, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-12T21:56:08.7804516' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (3, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-13T21:56:08.7805151' AS DateTime2), 1, N'empty', NULL)
SET IDENTITY_INSERT [dbo].[PrivateLessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (1, N'Musclecloth Lifting Strap Kırmızı', N'spor', N'Musclecloth Lifting Strap Kırmızı', 60.0000, 95.0000, 1, 49, N'/images/Musclecloth.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (2, N'Musclecloth Pro Wrist Wraps', N'spor', N'Musclecloth Pro Wrist Wraps Siyah Kırmızı 2''li Paket', 70.0000, 150.0000, 1, 24, N'/images/Wrist.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (3, N'Busso Klips-20 Kısa Bar Kelebek Klips', N'spor', N'Busso Klips-20 Kısa Bar Kelebek Klips', 30.0000, 67.0000, 1, 44, N'/images/kelebek.jpeg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallet] ON 

INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (1, 1, CAST(N'2023-10-10T21:39:43.2306449' AS DateTime2), 0.0000)
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (2, 2, CAST(N'2023-10-10T21:43:22.7118831' AS DateTime2), 0.0000)
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (3, 3, CAST(N'2023-10-10T21:43:46.4613130' AS DateTime2), 0.0000)
SET IDENTITY_INSERT [dbo].[Wallet] OFF
GO
SET IDENTITY_INSERT [dbo].[WalletDetails] ON 

INSERT [dbo].[WalletDetails] ([Id], [ActivityDate], [ActivityType], [Amount], [WalletId]) VALUES (1, CAST(N'2023-10-11T18:39:39.2301368' AS DateTime2), N'Yatırma', 999999.0000, 8)
INSERT [dbo].[WalletDetails] ([Id], [ActivityDate], [ActivityType], [Amount], [WalletId]) VALUES (2, CAST(N'2023-10-11T18:39:52.4762206' AS DateTime2), N'Harcama', 6200.0000, 8)
SET IDENTITY_INSERT [dbo].[WalletDetails] OFF
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CartLines]  WITH CHECK ADD  CONSTRAINT [FK_CartLines_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartLines] CHECK CONSTRAINT [FK_CartLines_Carts_CartId]
GO
ALTER TABLE [dbo].[CartLines]  WITH CHECK ADD  CONSTRAINT [FK_CartLines_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartLines] CHECK CONSTRAINT [FK_CartLines_Products_ProductId]
GO
ALTER TABLE [dbo].[WalletDetails]  WITH CHECK ADD  CONSTRAINT [FK_WalletDetails_Wallet_WalletId] FOREIGN KEY([WalletId])
REFERENCES [dbo].[Wallet] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WalletDetails] CHECK CONSTRAINT [FK_WalletDetails_Wallet_WalletId]
GO
